.list-header {
    background: $offWhite;
    border: 1px solid darken($offWhite, 7%);
    color: $grey;
    display: flex;
    justify-content: space-between;
    padding: $small $medium;
}

.list-body {
    margin-bottom: $medium;
    @media (min-width: $desktopBreakpoint) {
        margin-bottom: $large;
    }
}

.list-item {
    border: 1px solid darken($offWhite, 7%);
    border-top: none;
    color: $darkGrey;
    display: flex;
    flex-direction: column;
    padding: $small;
    text-decoration: none;
    transition: background .3s ease;
    &:hover {
        background: $offWhite;
    }
    @media (min-width: $desktopBreakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $medium;
    }
}

.list-item--message {
    align-items: center;
    color: $grey;
    justify-content: center;
    padding: $medium;
    &:hover {
        background: none;
    }
}

.list-item__title {
    margin: 0;
    word-break: break-all;
}

.list-item__sub-title {
    color: $grey;
    font-size: $mediumFont;
}

.list-item__data {
    margin: $small 0 0 0;
    @media (min-width: $desktopBreakpoint) {
        margin: 0;
        padding-left: $small;
    }
}